aiohttp==3.9.3
aiomysql==0.2.0
aiosignal==1.3.1
altair==4.2.2
aniso8601==9.0.1
annotated-types==0.6.0
anthropic==0.23.1
anyio==4.3.0
apispec==6.4.0
apispec-webframeworks==1.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Authlib==1.3.1
Automat==22.10.0
avro==1.11.3
Babel==2.15.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.23.1
binaryornot==0.4.4
bleach==6.1.0
blinker==1.7.0
boto3==1.34.34
botocore==1.34.54
build==1.1.1
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
cmdstanpy==1.2.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confluent-kafka==2.3.0
constantly==23.10.4
contourpy==1.2.0
cookiecutter==2.5.0
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.4
debugpy==1.8.2
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.6.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.1
fastapi==0.110.0
fastavro==1.8.4
fastembed==0.2.7
fastjsonschema==2.20.0
filelock==3.13.1
Flask==3.0.3
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flatbuffers==24.3.6
flet==0.20.2
flet-core==0.20.2
flet-runtime==0.20.2
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
furl==2.1.3
future==1.0.0
gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.42
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-auth==2.28.1
google-generativeai==0.4.1
googleapis-common-protos==1.62.0
great-expectations==0.18.12
greenlet==3.0.3
grpcio==1.65.1
grpcio-status==1.62.0
grpcio-tools==1.65.1
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
holidays==0.53
hopsworks==3.7.0
hpack==4.0.0
hsfs==3.7.6
hsml==3.7.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.20.3
humanfriendly==10.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.6
importlib-metadata==6.11.0
importlib_resources==6.1.3
incremental==22.10.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.1.2
javaobj-py3==0.4.4
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
kthread==0.2.3
kubernetes==29.0.0
langchain==0.1.11
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==0.0.9
langchain-text-splitters==0.0.1
langsmith==0.1.22
llama-index==0.10.34
llama-index-agent-openai==0.2.3
llama-index-cli==0.1.12
llama-index-core==0.10.34
llama-index-embeddings-huggingface==0.2.0
llama-index-embeddings-openai==0.1.9
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48
llama-index-llms-anthropic==0.1.11
llama-index-llms-openai==0.1.16
llama-index-multi-modal-llms-openai==0.1.5
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.20
llama-index-readers-llama-parse==0.1.4
llama-index-vector-stores-mongodb==0.1.4
llama-parse==0.4.2
llamaindex-py-client==0.1.19
loguru==0.7.2
makefun==1.15.4
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistralai==0.4.2
mistune==3.0.2
mmh3==4.1.0
mock==5.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.2
oauthlib==3.2.2
onnx==1.16.1
onnxruntime==1.17.1
openai==1.25.1
openpyxl==3.1.2
opensearch-py==2.4.2
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
ordered-set==4.1.0
orderedmultidict==1.0.1
orjson==3.9.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
patsy==0.5.6
pdfminer.six==20231228
pdfplumber==0.11.0
phonenumbers==8.13.36
pillow==10.2.0
platformdirs==3.11.0
portalocker==2.10.1
posthog==3.5.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
prophet==1.1.5
proto-plus==1.23.0
protobuf==5.27.2
psutil==6.0.0
pulsar-client==3.4.0
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
pydeck==0.8.1b0
Pygments==2.17.2
PyHopsHive==0.6.4.1.dev0
pyhumps==1.6.1
pyjks==20.0.0
PyJWT==2.8.0
pymltoolkit==0.1.11
pymongo==4.6.1
PyMySQL==1.1.1
pyodbc==5.0.1
pyOpenSSL==23.3.0
pyparsing==3.1.1
pypdf==4.1.0
PyPDF2==3.0.1
pypdfium2==4.29.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.0.0
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.0
python-json-logger==2.0.7
python-slugify==8.0.4
python-socketio==5.11.1
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.3
qdrant-client==1.10.1
qrcode==7.4.2
referencing==0.33.0
regex==2023.12.25
repath==0.9.0
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.17.17
s3transfer==0.10.0
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.12.0
selenium==4.20.0
selenium-stealth==1.0.6
Send2Trash==1.8.3
sentence-transformers==2.7.0
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.6.0
snowflake-sqlalchemy==1.5.1
snowpy==0.1.3
sodapy==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.48
stack-data==0.6.3
stanio==0.5.1
starlette==0.36.3
statsmodels==0.14.1
streamlit==1.32.0
streamlit-modal==0.1.2
striprtf==0.0.26
sympy==1.12
taipy==3.1.0
taipy-config==3.1.0
taipy-core==3.1.0
taipy-gui==3.1.0
taipy-rest==3.1.0
taipy-templates==3.1.0
tenacity==8.2.3
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.2.0
thrift==0.20.0
tiktoken==0.6.0
tinycss2==1.3.0
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.3
toolz==0.12.1
torch==2.2.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
transformers==4.39.1
trio==0.25.0
trio-websocket==0.11.1
Twisted==23.10.0
twisted-iocpsupport==1.0.4
twofish==0.3.0
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
undetected-chromedriver==3.5.5
unicorn==2.0.1.post1
uri-template==1.3.0
urllib3==2.0.7
uvicorn==0.27.1
validators==0.33.0
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.13
weaviate-client==3.26.5
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension==4.0.11
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.17.0
zope.event==5.0
zope.interface==6.2

